.ckill{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
   
    
}
.header{
    margin-left: 20px;
}

.list{
    line-height: 0.8cm;
    font-style: italic;
    margin-left: 5px;
}