.container{
    background-color: azure;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: black;
    justify-content: space-evenly; 
 
}
.name {
    width: 25%;
font-style: italic, bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
padding-top: 1px;

}

.Signup{
    width: 25%;
}

button{
    position: relative;
    top: 15px;
    padding-top: 1px;
    left: 0;
    
}

.mid{
    width: 30%;
    font-size: 20px;
    display: flex;
   /* flex-direction: row; */
    padding-left: 2rem;
    gap: 3rem;
   
    
}

.name:hover{
    cursor: pointer;
    font-size: 28px;
}
.image{
    width: 40px;
    height: 40px;
    border: 10cm;
    border-radius: 5cm;
    float: left;
} 
 .static{
    position: sticky;
    top: 1px;
    z-index: 1;
    
 }