.container{
    background-color: azure;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: black;
    justify-content: space-between; 
 
}
.name {
font-style: italic, bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 24px;


}


button{
    position: relative;
    top: 15px;
    padding-top: 3px;
    
}

.mid{
    width: 30%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 15px;
    
}

.name:hover{
    cursor: pointer;
    font-size: 28px;
}
.image{
    width: 40px;
    height: 40px;
    border: 10cm;
    border-radius: 5cm;
    float: left;
} 
 .static{
    position: sticky;
    top: 1px;
    z-index: 1;
 }