.i{
    border: 1px solid black;
    border-radius: 4px;
    width: 160px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 50px; ;
    
}
.search{
    display: flex;
    align-self: right;
    padding-left: 10px;
    margin-left: 40px;
    justify-content: space-around;
    
} 
